---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <h1>✈️ Hello, Traveler!</h1>
    <p>
        Welcome to my Blog! This is a site for me to share my thoughts and experiences with the world.
        Here you can find articles related to software development and climbing (mostly indoors).
    </p>
    <p>
        In the area of sofware development, I'm interested in:
        <ul>
            <li>Algorithms and Data Structures</li>
            <li>Software Architecture</li>
            <li>Web Development</li>
            <li>Game Development</li>
            <li>Artificial Intelligence</li>
            <li>Programming Languages</li>
        </ul>
    </p>
</SiteLayout>
