---
import SocialLink from './SocialLink.astro';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Iskander Sierra. All rights reserved.
	<div class="social-links">
		<SocialLink href="https://www.linkedin.com/in/iskandersierra/"
			readerLabel="Follow Iskander Sierra on Linkedin"
			icon="linkedin"></SocialLink>
		<SocialLink href="https://x.com/iskandersz"
			readerLabel="Follow Iskander Sierra on Twitter"
			icon="twitter"></SocialLink>
		<SocialLink href="https://github.com/iskandersierra"
			readerLabel="Go to Iskander Sierra's GitHub repo"
			icon="github"></SocialLink>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: var(--gray);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links :global(a) {
		text-decoration: none;
		color: var(--gray);
	}
	.social-links :global(a):hover {
		color: var(--gray-dark);
	}
</style>
