---
import HeaderLink from './HeaderLink.astro';
import SocialLink from './SocialLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<SocialLink href="https://www.linkedin.com/in/iskandersierra/"
				readerLabel="Follow Iskander Sierra on Linkedin"
				icon="linkedin"></SocialLink>
			<SocialLink href="https://x.com/iskandersz"
				readerLabel="Follow Iskander Sierra on Twitter"
				icon="twitter"></SocialLink>
			<SocialLink href="https://github.com/iskandersierra"
				readerLabel="Go to Iskander Sierra's GitHub repo"
				icon="github"></SocialLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a, h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav :global(a) {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links, .social-links :global(a) {
		display: flex;
	}
	.social-links :global(a:hover) {
		color: var(--accent-dark);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
